<div class="row">
  <div class="col-md-6">
    <a href='/traderequests'><div id="mybooks">  交换请求  <span id="count">{{ trades }}</span></div></a>
  </div>
  <div class="col-md-6">
    <a href='/mytrades'><div id="mytrades"> 我的交换请求  <span id="count">{{ mytrades }}</span></div></a>
  </div>
</div><!--end row-->

<div class='row'>
  <div class='col-md-12'>
    <h1 class="text-center">找书</h1>
    <form class="form-group text-center">
      <input type="hidden" name="_csrf" value={{csrfToken}}>
      <input id="search" name="title" placeholder="书名 或者 作家" />
      <button class="btn btn-default text-center" id="button" type="button">搜索</button>
    </form>
  </div><!--end col-->
</div><!--end row-->
<div class='row'>
    <input id="token" type="hidden" name="_csrf" value={{csrfToken}} />
      <div id="results"></div>

</div><!--end row-->
