<div class="container choices">
  <a id='menuButs' href="/login"><div class="bt">登录</div></a>
  <a id='menuButs' href="/home"><div class="bt">浏览</div></a>
  <a id='menuButs' href="/register"><div class="bt">登记</div></a>
</div>
